{{template "base" .}}

{{define "content" }}
<div id="output">
    <span class="text-muted">Output here...</span>
</div>
<div>
    <pre id="payload">
        <span>Nothing sent yet...</span>
    </pre>
</div>
<div>
<h4> Received </h4>
<pre id="received">
<span class="text-muted">Nothing received yet...</span>
</pre>
</div>
{{end}}